.myb-form-text {
  & > div:nth-of-type(2) {
    position: absolute !important;
    bottom: -8px !important;
  }
}

.form-text-multi-line {
  height: auto !important;
}

.myb-form-text.form-text-multi-line {
  & > div:nth-of-type(2) {
    position: absolute !important;
    bottom: -20px !important;
  }
}

.myb-form-date {
  & > div:first-child > div:nth-of-type(3) {
    position: absolute !important;
    bottom: -8px !important;
  }
}

.myb-autocomplete {
  & > div:nth-of-type(2) {
    position: absolute !important;
    bottom: -8px !important;
  }
}
