.events-page {
  /*position: fixed;
  left: 90px;
  top: 80px;
  width: calc(100% - 382px);*/
}
.event-page {
  img {
    border-radius: 500em;
    width: 64px;
    height: 64px;
    margin-right: 14px;
  }
  h1 {
    color: #333333;
  }
  h3 {
    color: #333333;
    font-weight: bold;
    margin-bottom: 12px;
  }
  .event-info {
    color: #8e9399;
  }
  .event-summary, .event-image-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #ecedef;
    padding: 1em 2em;
  }
  .event-description, .event-participants {
    padding: 1em 2em;
    border-bottom: 1px solid #ecedef;
  }
  .event-participants {
    border-bottom: none;
    & > div {
      margin-left: 20px;
    }
    img {
      width: 44px;
      height: 44px;
      margin-right: 0;
      margin-left: -20px;
    }
  }
  .divider {
    border-right: 1px solid #ecedef;
    width: 1px;
    height: 50px;
    margin: 0 24px;
  }
}
